#dogbedtemplate {
	width:100%;
	max-width:1377px;
	margin:auto;
	overflow:hidden;
}
#dogbedtemplate .row {
    position: relative;
    width: 100%;
    float: left;
}
#dogbedtemplate .inner {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#dogbedtemplate .single {
      width: 1377px;
      height: 604px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }
#dogbedtemplate .single2 {
      width: 762px;
      height: 497px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }
#dogbedtemplate .single3 {
    width: 610px;
    height: 190px;
    position: relative;
    overflow: hidden;
    left: 23px;
}

#dogbedtemplate .single ul, #dogbedtemplate .single2 ul, #dogbedtemplate .single3 ul {
      list-style: outside none;
      width: 10000%;
      position: relative;
      top: 0;
      right: 0;
      transition: all 0.6s ease;
      padding: 0;
      margin: 0;
    }

#dogbedtemplate .single li, #dogbedtemplate .single2 li, #dogbedtemplate .single3 li {
      float: left;
    }

#dogbedtemplate .single-box1 {
      width: 1377px;
      height: 604px;
    }
#dogbedtemplate .single-box2 {
      width: 762px;
      height: 497px;
    }
#dogbedtemplate .single-box3 {
      width: 610px;
      height: 190px;
	  text-align: center;
    }